<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trains</title>
</head>
<body>
 <span style="white-space: pre-line" th:text="${trainsName}"></span>
    <form>
        <label>
            <input type="text" name="trainId" id="trainId" placeholder="ID">
        </label>

        <label>
            <input type="text" name="trainName" placeholder="Назва">
        </label>

        <tr>
            <td><input type="submit" name="add" value="Добавити потяг" /></td>
            <td><input type="button" onclick="redirect()" value="Редагувати потяг"></td>
            <td><input type="submit" name="delete" value="Видалити потяг за ID" /></td>
        </tr>
        <script type="text/javascript">
            function redirect() {
                let url = document.getElementById("trainId").value;
                window.location.href = "/admin/train/" + url;
            }
        </script>
    </form>
</body>
</html>
