<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
  <title>Розклад поїздів, залізничний розклад онлайн — наявність, ціни та місця</title>
  <meta name="description" content="Розклад поїздів онлайн! Не втомлюйте себе дзвінками у довідкові залізничних вокзалів, тепер отримати необхідну інформацію можна за допомогою нашого сервісу розкладу поїздів не виходячи з дому." />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
      <link rel="stylesheet" th:href="@{/css/2.css}">
      <link rel="stylesheet" th:href="@{/css/search.css}">
      <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

  <body data-app class="theme-default">

<main>
    <div class="page-wrapper bg-img-1 p-t-165 p-b-100">
        <div class="wrapper wrapper--w720">
            <div class="card card-3">
                <div class="card-body">
                    <ul class="tab-list">
                        <li class="tab-list__item active">
                            <a class="tab-list__link" href="#tab1" data-toggle="tab">Пошук за маршрутом</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <form action="trains">
                                <div class="input-group">
                                    <label class="label">Звідки</label>
                                    <input class="input--style-1" type="text" name="stationOfDeparture" placeholder="Місто" required="required">
                                </div>
                                <div class="input-group">
                                    <label class="label">Куди</label>
                                    <input class="input--style-1" type="text" name="stationOfArrival" placeholder="Місто" required="required">
                                </div>
                                <div class="input-group">
                                    <label class="label">Дата відправлення</label>
                                    <input class="input--style-1" type="text" name="dateTime" placeholder="mm.dd.yyyy" required="required">
                                </div>
                                <button class="btn-submit" onclick="window.location.href='/trains'" type="submit">Пошук</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


  <div class="container">
    <div class="row">
      <div class="breadcrumbs col-24 mb-3">  

</div> </div>
  </div></div>
 
</main>

      </body>
</html>